<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Planificateur de tâches</title>
	<link rel="stylesheet" href="./css/material.css">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/fontello.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="./css/style.css">
	<!-- <link rel="stylesheet" href="http://localhost:8080/css/style.css"> -->

	<script>
		var dojoConfig = {
			packages: [{
				name: "project",
				location: "http://192.168.0.46:8080/js/project"
				// location: "http://localhost:8080/js/project"
			}],
			aliases: [
				['jquery', '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'],
				['snapSVG', '//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js'],
				['momentjs', '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js'],
				['frappe-gantt', 'http://192.168.0.46:8080/js/libs/frappe-gantt.js']
			],
			// deps: ['project/dojorpc', 'jquery'],
			isDebug: true
		};
	</script>
	<script src="//unpkg.com/vue"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
	<script src="./js/libs/frappe-gantt.js"></script>
	<script data-dojo-config="async: 1, isDebug: true" src="//ajax.googleapis.com/ajax/libs/dojo/1.12.1/dojo/dojo.js"></script>
</head>

<body id="body">
	<div id="app" @click="close">
		<calendar>
			<tasks></tasks>
		</calendar>
		<loader></loader>
		<notification></notification>
		<projects></projects>
		<le-menu></le-menu>
		<div id="bottom">
			<component :is="currentView" transition="fade" transition-mode="out-in"></component>
		</div>
	</div>
	<!-- Browserify <script src="./build.js"></script>  -->
	<!-- Webpack <script src="./bundle.js"></script> -->
	<script src="./bundle.js"></script>
	<!-- TEMPLATE ZONE -->
	<template id="_task">
		<div>
			<div class="fa fa-plus zoom btn controls" id="zoom-in"></div>
			<div class="fa fa-minus zoom btn controls" id="zoom-out"></div>
			<svg id="gantt"></svg>
			<div class="fa fa-expand btn controls" id="expand"></div>
		</div>
	</template>
	<template id="calendar_tpl">
		<div id="calendar">
			<slot></slot>
		</div>
	</template>
	<template id="load_tpl">
		<transition name="fade">
			<div class="load" v-if="data.isLoading">
				<ul style="list-style-type:none">
					<li class="ball light-green"></li>
					<li class="ball green"></li>
					<li class="ball red"></li>
					<li class="ball orange"></li>
					<li class="ball yellow"></li>
				</ul>
			</div>
		</transition>
	</template>
	<template id="projects_tpl">
		<transition name="fade">
			<div id="projects-slider">
				<div id="data">
					<div id="scroll_container">
						<div class="project" v-for="project in data.project" :proj-id="project.id" @click="openProject(project.id)">
							<!-- PROJECT COLOR ICI -->{{project.name}}</div>
						<div class="project" @click="addProj">Ajouter un projet</div>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="menu_tpl">
		<nav id='menu'>
			<div class="burger" id="burger" @click.stop="toggleMenu()">
				<div class="menu-icon">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>
			</div>
			<div class="menu-wrap">
				<div class="back fa fa-angle-left" @click.stop="$root.back($root.currentView)"></div>
				<ul class="center">
					<li v-for="item in data.menu" :key="item.id">
						<a :href="'./' + item.path" @click.prevent="$root.changeView($root.currentView, item.path)" :class="data.current">
						{{item.name}}
					</a>
					</li>
				</ul>
				<div id="settings">
					<a href="./settings" @click.prevent="$root.changeView($root.currentView, './settings'); changeActive();">
            <span class="icon icon-cog"></span>
            <span class="text">Paramètres</span>
          </a>
				</div>
			</div>
			<div id="slide-up">test</div>
		</nav>
	</template>
	<template id="resource-tpl">
		<transition name="fade">
			<div class="resources" ref="res">
				<div class="resource" v-for="resource in data.resources" @click.capture="getDetailedResource(resource.id)">
					<span class="name">{{resource.firstName}} {{resource.name}}</span>
				</div>
				<div class="btn" @click.stop="openAddRes">Ajouter une ressource <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
				<add-resource></add-resource>
				<detailed-res></detailed-res>
			</div>
		</transition>
	</template>

	<template id="detailed-resource-tpl">
		<modal v-show="data.isOpen">
			<div id="photo">
				<!-- <img :src="data.res.photo" :alt="data.res.firstName + data.res.name"> Photo ici -->
			</div>
			<h4>{{fullName}}</h4>
			<div class="efficiency">Efficacité globale : {{data.res.baseEfficiency}}</div>
			<div class="skills" v-if="data.res.skillEfficiency.length !== 0">
				<h5>Compétences : </h5>
				<div class="skill" v-for="(value, key) in data.res.skillEfficiency">
					<div class="text">{{key}}</div>
					<div class="value">
						{{value}}
					</div>
					<svg width="400px" height="10px" viewBox="0 0 400 10">
						<path class="bar" :d="drawBar(value)" fill="green" fill-opacity="0.7" />
					</svg>
				</div>
			</div>
			<div class="btn" @click="editRes">Modifier</div>
		</modal>
	</template>
	<template id="modal-tpl">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container" @click.stop>
						<div class="btn btn--close" @click="$root.close"><i class="icon-cancel"></i></div>
						<slot></slot>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="add-res-tpl">
		<modal v-show="data.isOpen">
			<h4>Ajouter une ressource</h4>
			<div class="form-group">
				<label for="newResourceFirstName">Prénom</label>
				<input type="text" class="form-control" id="newResourceFirstName" placeholder="Prénom">
			</div>
			<div class="form-group">
				<label for="newResourceName">Nom</label>
				<input type="text" class="form-control" id="newResourceName" placeholder="Nom">
			</div>
			<div class="form-group">
				<label for="newResourceSkills">Compétences</label>
				<input v-for="skill in data.allSkills" type="checkbox" class="form-control" id="newResourceSkills" placeholder="Compétences">
			</div>
			<div class="btn" @click="submitResource">Sauvegarder</div>
		</modal>
	</template>
	<template id="detailed_project">
		<div id="detailed-project" v-if="data.detailedProject.id">
			<div class="project-infos">
				<div class="project-top-infos">
					<div class="project_name">
						<div id="color" class="color"></div>
						{{data.detailedProject.name}}

						<img id="mood" v-if="data.detailedProject.developersMind==='Moy'" src="images/emoticon-square-smiling-face-with-closed-eyes.svg"
						    alt="Humeur moyenne">
						<img id="mood" v-else-if="data.detailedProject.developersMind==='Bon'" src="images/image.svg" alt="Bonne humeur">
						<img id="mood" v-else-if="data.detailedProject.developersMind==='Nul'" src="images/image.svg" alt="Mauvaise humeur">
					</div>
					<div class="btn" @click.stop="openAddDev">Ajouter un développement <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
					<div @click.stop="orderByAZ">Trier par ordre alphabétique</div>
					<div @click.stop="orderByDate">Trier du plus récent au plus ancien</div>
				</div>
				<development></development>
			</div>
			<add-dev></add-dev>
		</div>
	</template>
	<template id="add-dev-tpl">
		<modal v-show="data.isOpen">
			<form name="addDev">
				<h4>Ajouter un développement</h4>

				<label>Titre</label>
				<input type="text" v-model="data.dev.name" placeholder="Titre">

				<label>Au plus tôt</label>
				<input type="date" v-model="data.dev.earlyStart">
				<input type="date" v-model="data.dev.earlyEnd">

				<label>Au plus tard</label>
				<input type="date" v-model="data.dev.lateStart">
				<input type="date" v-model="data.dev.lateEnd">

				<label>Prévu</label>
				<input type="date" v-model="data.dev.plannedStart">
				<input type="date" v-model="data.dev.plannedEnd">

				<label>Réel</label>
				<input type="date" v-model="data.dev.realStart">
				<input type="date" v-model="data.dev.realEnd">

				<label>Priorité</label>
				<select name="priority" v-model="data.dev.priority" class="form-group">
								<option value="PrioTresHaute" class="form-control">Très Haute</option>
								<option value="PrioHaute" class="form-control">Haute</option>
								<option value="PrioNormale" class="form-control">Normale</option>
								<option value="PrioBasse" class="form-control">Basse</option>
								<option value="PrioTresBasse" class="form-control">Très Basse</option>
							</select>

				<label>Facultatif</label>
				<input type="checkbox" v-model="data.dev.optional">

				<label>développement nécessaire</label>

				<label>développement parent</label>

				<label>Compétences</label>
				<div v-for="(skill, index) in data.allSkills" class="form-check">
					<label for="" class="form-check-label">{{skill.name}}</label>
					<input type="checkbox" :value="skill.id" v-model="data.dev.skillTags" class="form-check-input">
				</div>

				<div id="saveDev" class="btn" @click="submitNewDev(data.dev)">Ajouter</div>
			</form>
		</modal>
	</template>
	<template id="development">
		<div id="developments">
			<transition-group name="fade">
				<div class="dev" :id="dev.id" v-for="dev in data.developments" :key="dev.id" v-if="dev">
					<div class="align-left">
						<span class="dev_name">{{dev.name}}</span>
					</div>
					<div class="align-right">
						<span class="skill-tag" v-for="skills in dev.skillTags">{{skills}}</span>
						<span class="date">Du {{dev.plannedStart}} au {{dev.plannedEnd}}</span>
						<span class="edit fa fa-pencil" @click.stop="openEditDev(dev.id)"></span>
						<span class="delete fa fa-trash" @click.stop="deleteDev(dev.id, dev.earlyStart)"></span>
					</div>
				</div>
			</transition-group>
			<edit-dev v-if="data.editDevIsOpen"></edit-dev>

		</div>
	</template>
	<template id="edit_the_dev">
		<modal>

			<form name="editDev">
				<h4>Modifier un développement</h4>
				<label>Titre
              <input type="text" v-model="data.dev.name" placeholder="Titre">
            				</label>
				<label @click="data.dev.earlyStart = '2017-06-09'">Au plus tôt
									<input type="date" v-model="data.dev.earlyStart">
									<input type="date" v-model="data.dev.earlyEnd">
							</label>
				<label>Au plus tard
								<input type="date" v-model="data.dev.lateStart">
								<input type="date" v-model="data.dev.lateEnd">
							</label>
				<label>Prévu
								<input type="date" v-model="data.dev.plannedStart">
								<input type="date" v-model="data.dev.plannedEnd">
							</label>
				<label>Réel
								<input type="date" v-model="data.dev.realStart">
								<input type="date" v-model="data.dev.realEnd">
							</label>
				<label>Priorité
								<select name="priority" v-model="data.dev.priority">
									<option value="PrioTresHaute">Très Haute</option>
									<option value="PrioHaute">Haute</option>
									<option value="PrioNormale">Normale</option>
									<option value="PrioBasse">Basse</option>
									<option value="PrioTresBasse">Très Basse</option>
								</select>
							</label>
				<label>Facultatif
								<input type="checkbox" v-model="data.dev.optional">
							</label>
				<label>
				développement nécessaire
								<select multiple name="requiredDevs">
									for
								</select>
							</label>
				<label>
                développement parent
             				 </label>
				<label>Compétences
							</label>
				<div>{{data.dev}}</div>
				{{data.allSkills}}
				<div v-for="(skill, index) in data.allSkills" class="form-check">
					<label for="" class="form-check-label">{{skill.name}}</label>
					<input type="checkbox" :value="skill.id" v-model="data.dev.skillTags" class="form-check-input">
				</div>
				<div id="saveDev" class="btn" @click="saveDev(data.dev.id)">Sauvegarder</div>
			</form>
		</modal>
	</template>
	<template id="customers_tpl">
		<transition name="fade">
			<div class="customers">
				<div class="customer" v-for="customer in data.customers">
					<span v-if="customer.firstName !== customer.name">{{customer.firstName}} {{customer.name}}</span>
					<span v-else>{{customer.name}}</span>
				</div>
				<div id="add_customer" class="btn" @click.stop="openAddCustomer(this.data, 'addCustomer')">Ajouter un client
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</div>
				<add-customer v-if="data.addCustomerIsOpen"></add-customer>

			</div>
		</transition>
	</template>

	<template id="add-customer-tpl">
		<transition name="modal">
			<div class="modal-mask" @click.stop="$root.close">
				<div class="modal-wrapper">
					<div class="modal-container" @click.stop>
						<div class="btn btn--close" @click="$root.close"><i class="icon-cancel"></i></div>

						<form name="addCustomer">
							<h4>Ajouter un client</h4>
							<label>Prénom<input type="text" name="firstName" v-model="data.formContent.firstName" placeholder="Prénom"></label>
							<label>Nom<input type="text" name="name" v-model="data.formContent.name" placeholder="Nom"></label>
							<div class="btn" @click="addCustomer(generateId, data.formContent)">Ajouter un client</div>
						</form>
					</div>
				</div>
			</div>
		</transition>

	</template>

	<template id="_settings">
		<div>
			<h2>Paramètres</h2>
		</div>
	</template>

	<template id="notification-tpl">
		<div class="notification" v-if="data.visible">
			<h4>{{data.tit}}</h4>
			<p>{{data.message}}</p>
		</div>
	</template>
</body>

</html>