<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Planificateur de tâches</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
	<link rel="stylesheet" href="http://192.168.0.46:8080/css/style.css">

	<script>
		var dojoConfig = {
			packages: [{
				name: "project",
				location: "http://192.168.0.46:8080/js/project"
			}],
			aliases: [
				['chartJS', 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js'],
				['jquery', '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js']
			],
			deps: ['project/dojorpc', 'jquery'],
			isDebug: true
		};
	</script>
	<script src="//unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
	<script data-dojo-config="async: 1, isDebug: true" src="//ajax.googleapis.com/ajax/libs/dojo/1.12.1/dojo/dojo.js"></script>
</head>

<body id="body" class="loading">
	<div id="app" @click="close">
		<div id="sub-container">
			<loader></loader>
			<!--<line-chart></line-chart>-->
			<projects></projects>
			<le-menu></le-menu>
			<div id="bottom">
				<component :is="currentView" transition="fade" transition-mode="out-in"></component>
				<!-- <modal></modal> -->

			</div>
		</div>
	</div>
	<!-- Browserify <script src="./public/build.js"></script>  -->
	<!-- Webpack <script src="./bundle.js"></script> -->
	<!-- TEMPLATE ZONE -->
	<template id="calendar_tpl">
		<div id="graph">
			{{data.test}}
		</div>
	</template>
	<template id="load_tpl">
		<div id="loader" v-if="this.$root.isLoading">
			<div class="demo">
				<svg class="loader">
					<circle cx="25" cy="25" r="16" fill="transparent" stroke="#ABABAB" stroke-width="5" stroke-linecap="round" stroke-dasharray="385"
					    stroke-dashoffset="385">
					</circle>
				</svg>
			</div>
		</div>
	</template>
	<template id="projects_tpl">
		<transition name="fade">
			<div id="projects-slider">
				<div id="data">
					<div id="scroll_container">
						<div class="project" v-for="project in data.project" :proj-id="project.id" @click="openDev(project.id)">
							<!-- PROJECT COLOR ICI -->{{project.name}}</div>
						<div class="project" @click="addProj">Ajouter un projet</div>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="menu_tpl">
		<nav id='menu'>
			<div class="burger" id="burger" @click.stop="toggleMenu()">
				<div class="menu-icon">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>
			</div>
			<div class="menu-wrap">
				<div class="back fa fa-angle-left" @click.stop="$root.back($root.currentView)"></div>
				<ul class="center">
					<li v-for="item in data.menu">
						<a :href="'./' + item.path" @click.prevent="$root.changeView($root.currentView, item.path); changeActive()" :class="">
						{{item.name}}
					</a>
					</li>
				</ul>
				<div id="settings">
					<a href="./settings" @click.stop.prevent="$root.changeView($root.currentView, './settings')">
            <span class="fa fa-gear"></span>
            <span class="text">Paramètres</span>
          </a>
				</div>
			</div>
		</nav>
	</template>
	<template id="resource-tpl">
		<transition name="fade">
			<div class="resources" ref="res">
				<div class="resource" v-for="resource in data.resources" @click.capture="getDetailedResource(resource.id)">
					<span class="color"></span><span class="name">{{resource.firstName}} {{resource.name}}</span>
				</div>
				<div @click.stop="openAddRes">Ajouter une ressource <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
				<add-resource v-if="data.addResIsOpen"></add-resource>
				<detailed-res></detailed-res>
			</div>
		</transition>

	</template>
	<template id="detailed-resource-tpl">
		<transition name="modal">
			<div class="modal-mask" v-if="data.isOpen" @click.stop="$root.close">
				<div class="modal-wrapper">
					<div class="modal-container" @click.stop>
						<div id="detailed_res">
							<div id="photo">
								<!-- <img :src="data.res.photo" :alt="data.res.firstName + data.res.name"> Photo ici -->
							</div>
							<h4>{{fullName}}</h4>
							<div class="efficiency">Efficacité globale : {{data.res.baseEfficiency}}</div>
							<div class="skills" v-if="data.res.skillEfficiency.length !== 0">
								<h5>Compétences : </h5>
								<div class="skill" v-for="(value, key) in data.res.skillEfficiency">
									<div class="text">{{key}} : {{value}}</div>
									<svg width="250px" height="9px" viewBox="0 0 250 9">
										<path class="bar" :d="drawBar(value)" fill="green" fill-opacity="0.7" />
									</svg>
								</div>
							</div>
							<!-- <div class="btn" @click="editRes">Modifier</div> -->
						</div>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="add-res-tpl">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container">
						<h4>Ajouter une ressource</h4>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="detailed_project">
		<div id="detailed-project" v-if="data.detailedProject.id">
			<div>
				<div class="project-infos">
					<div class="project-top-infos">
						<div class="project_name">
							<div id="color" class="color"></div>
							{{data.detailedProject.name}}

							<img id="mood" v-if="data.detailedProject.developersMind==='Moy'" src="images/emoticon-square-smiling-face-with-closed-eyes.svg"
							    alt="Humeur moyenne">
							<img id="mood" v-else-if="data.detailedProject.developersMind==='Bon'" src="images/image.svg" alt="Bonne humeur">
							<img id="mood" v-else-if="data.detailedProject.developersMind==='Nul'" src="images/image.svg" alt="Mauvaise humeur">
						</div>
						<div @click.stop="openAddDev">Ajouter un développement <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
						<div @click.stop="orderByAZ">Trier par ordre alphabétique</div>
						<div @click.stop="orderByDate">Trier du plus récent au plus ancien</div>
					</div>
					<development></development>
				</div>
				<add-dev v-if="$root.addDevIsOpen"></add-dev>
			</div>
		</div>
	</template>
	<template id="add-dev-tpl">
		<transition name="modal">
			<div class="modal-mask" @click="$root.close">
				<div class="modal-wrapper">
					<div class="modal-container" @click.stop>
						<form name="addDev">
							<h4>Ajouter un développement</h4>
							<label>Titre
            <input type="text" v-model="data.dev.name" placeholder="Titre">
          </label>
							<label>Au plus tôt
              <input type="date" v-model="data.dev.earlyStart">
              <input type="date" v-model="data.dev.earlyEnd">
            </label>
							<label>Au plus tard
              <input type="date" v-model="data.dev.lateStart">
              <input type="date" v-model="data.dev.lateEnd">
            </label>
							<label>Prévu
              <input type="date" v-model="data.dev.plannedStart">
              <input type="date" v-model="data.dev.plannedEnd">
            </label>
							<label>Réel
              <input type="date" v-model="data.dev.realStart">
              <input type="date" v-model="data.dev.realEnd">
            </label>
							<label>Priorité
            <select name="priority" v-model="data.dev.priority">
              <option value="PrioTresHaute">Très Haute</option>
              <option value="PrioHaute">Haute</option>
              <option value="PrioNormale">Normale</option>
              <option value="PrioBasse">Basse</option>
              <option value="PrioTresBasse">Très Basse</option>
            </select>
            </label>
							<label>Facultatif
            	<input type="checkbox" v-model="data.dev.optional">
          	</label>
							<label>
            développement nécessaire
          </label>
							<label>
            développement parent
          </label>
							<label>Compétences
          </label>
							<label v-for="skill in data.allSkills">
            {{skill}}
              <input type="checkbox" v-model="data.dev.skillTags" :value="skill">
          </label>
							<div id="saveDev" class="btn" @click="submitNewDev(data.dev)">Ajouter</div>
						</form>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="development">
		<div id="developments">
			<transition-group name="fade">
				<div class="dev" :id="dev.id" v-for="dev in data.developments" :key="dev.id" v-if="dev">
					<div class="align-left">
						<span class="dev_name">{{dev.name}}</span>
					</div>
					<div class="align-right">
						<span class="skill-tag" v-for="skills in dev.skillTags">{{skills}}</span>
						<span class="date">Du {{dev.plannedStart}} au {{dev.plannedEnd}}</span>
						<span class="edit fa fa-pencil" @click.stop="openEditDev(dev.id)"></span>
						<span class="delete fa fa-trash" @click.stop="deleteDev(dev.id)"></span>
					</div>
				</div>
			</transition-group>
			<edit-dev v-if="data.editDevIsOpen"></edit-dev>

		</div>
	</template>
	<template id="edit_the_dev">
		<transition name="modal">
			<div class="modal-mask" @click="$root.close">
				<div class="modal-wrapper">
					<div class="modal-container" @click.stop>
						<form name="editDev">
							<h4>Modifier un développement</h4>
							<label>Titre
              <input type="text" v-model="data.dev.name" placeholder="Titre">
            				</label>
							<label @click="data.dev.earlyStart = '2017-06-09'">Au plus tôt
									<input type="date" v-model="data.dev.earlyStart">
									<input type="date" v-model="data.dev.earlyEnd">
							</label>
							<label>Au plus tard
								<input type="date" v-model="data.dev.lateStart">
								<input type="date" v-model="data.dev.lateEnd">
							</label>
							<label>Prévu
								<input type="date" v-model="data.dev.plannedStart">
								<input type="date" v-model="data.dev.plannedEnd">
							</label>
							<label>Réel
								<input type="date" v-model="data.dev.realStart">
								<input type="date" v-model="data.dev.realEnd">
							</label>
							<label>Priorité
								<select name="priority" v-model="data.dev.priority">
									<option value="PrioTresHaute">Très Haute</option>
									<option value="PrioHaute">Haute</option>
									<option value="PrioNormale">Normale</option>
									<option value="PrioBasse">Basse</option>
									<option value="PrioTresBasse">Très Basse</option>
								</select>
							</label>
							<label>Facultatif
								<input type="checkbox" v-model="data.dev.optional">
							</label>
							<label>
				développement nécessaire
								<select multiple name="requiredDevs">
									for
								</select>
							</label>
							<label>
                développement parent
             				 </label>
							<label>Compétences
            				</label>
							<label v-for="skill in data.allSkills">
							{{skill}}
								<input type="checkbox" v-model="data.dev.skillTags" :value="skill">
							</label>
							<div id="saveDev" class="btn" @click="saveDev(data.dev.id)">Sauvegarder</div>
						</form>
					</div>
				</div>
			</div>
		</transition>
	</template>
	<template id="customers_tpl">
		<div class="customers">
			<div class="customer" v-for="customer in data.customers">
				<span v-if="customer.firstName !== customer.name">{{customer.firstName}} {{customer.name}}</span>
				<span v-else>{{customer.name}}</span>
			</div>
			<div id="add_customer" @click.stop="openAddCustomer(this.data, 'addCustomer')">Ajouter un client
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<add-customer v-if="data.addCustomerIsOpen"></add-customer>

		</div>
	</template>

	<template id="add-customer-tpl">
		<transition name="modal">
			<div class="modal-mask" @click.stop="$root.close">
				<div class="modal-wrapper">
					<div class="modal-container" @click.stop>
						<form name="addCustomer">
							<h4>Ajouter un client</h4>
							<label>Prénom<input type="text" name="firstName"></label>
							<label>Nom<input type="text" name="name"></label>
							<div class="btn" @click="addCustomer">Ajouter un client</div>
						</form>
					</div>
				</div>
			</div>
		</transition>

	</template>

	<template id="_settings">
		<div>
			<h2>Paramètres</h2>
		</div>
	</template>

	<template id="add-res-tpl">
		<div>
			<h4>Ajouter une ressource</h4>
		</div>
	</template>
</body>

</html>