@media screen and (min-width: 769px) {
    #menu {
        & .burger {
            display: none;
        }
        & .back {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    #menu {
        & .back {
            display: none;
        }
    }
}