.fade-enter-active,
.fade-leave-active {
    transition: opacity .25s
}

#developments {
    & span .fade-leave-active,
    & span .fade-leave-to {
        position: absolute;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
    }
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
    opacity: 0
}