$orange-ball: #f0a934;
$red-ball: #ea3331;
$yellow-ball: #f9ec2b;
$green-ball: #3fb668;
$light-green-ball: #d6de39;

.fade-enter-active {
    transition: all .5s;
}

.load.fade-leave-to {
    transition: all .5s ease-out;
}

#developments {
    & span .fade-leave-active,
    & span .fade-leave-to {
        box-sizing: border-box;
    }
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.modal-enter-active .skill .bar {
    transform: translate3D(-400px, 0, 0);
}

.fill-bar-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fill-bar-enter,
.fill-bar-leave-to {
    transform: translate3D(0, 0, 0);
    opacity: 0;
}

// LOADER 
.load {
    background: #f9f9f9 url('../images/logo_pmb.png') no-repeat;
    background-position: 50% 30%;
    background-size: 18vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    ul {
        display: flex;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 55px 15px;
    }
    .ball {
        background-color: $orange-ball;
        will-change: box-shadow;
        float: left;
        width: 25px;
        height: 25px;
        content: "";
        margin: 10px 10px;
        border-radius: 100%;
        transform: translate3d(0px, -30px, 10px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        animation: loading3 1.15s ease-in-out infinite alternate;
    }
}

.load .red.ball {
    background-color: $red-ball;
    animation: loading2 1.15s ease-in-out infinite alternate;
    animation-delay: 0.4s;
}

.load .yellow.ball {
    background-color: $yellow-ball;
    animation: loading4 1.15s ease-in-out infinite alternate;
    animation-delay: 0.8s;
}

.load .green.ball {
    background-color: $green-ball;
    animation: loading1 1.15s ease-in-out infinite alternate;
    animation-delay: 1.2s;
}

.load .light-green.ball {
    background-color: $light-green-ball;
    animation: loading 1.15s ease-in-out infinite alternate;
    animation-delay: .8s;
}

@keyframes loading {
    to {
        transform: translate3d(5px, 30px, 10px);
        box-shadow: 10px 10px 30px darken($light-green-ball, 15%), 0 10px 20px darken($light-green-ball, 16%);
    }
}

@keyframes loading1 {
    to {
        transform: translate3d(5px, 30px, 10px);
        box-shadow: 10px 10px 30px darken($green-ball, 15%), 0 10px 20px darken($green-ball, 16%);
    }
}

@keyframes loading2 {
    to {
        transform: translate3d(5px, 30px, 10px);
        box-shadow: 10px 10px 30px darken($red-ball, 15%), 0 10px 20px darken($red-ball, 16%);
    }
}

@keyframes loading3 {
    to {
        transform: translate3d(5px, 30px, 10px);
        box-shadow: 10px 10px 30px darken($orange-ball, 15%), 0 10px 20px darken($orange-ball, 16%);
    }
}

@keyframes loading4 {
    to {
        transform: translate3d(5px, 30px, 10px);
        box-shadow: 10px 10px 30px darken($yellow-ball, 15%), 0 10px 20px darken($yellow-ball, 16%);
    }
}