// Règles CSS
body {
    background: #fff;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

input {
    &[type="text"] {
        min-height: 38px;
        -webkit-appearance: none;
    }
}

a {
    all: unset;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top {
    overflow: hidden;
}

#bottom {
    position: relative;
    padding: 20px 25px;
}

.btn {
    padding: 12px;
    background: $bg_dark;
    color: $textColor_light;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    margin-top: 10px;
    transition: .25s;
    &:hover {
        background: darken(cyan, 20%)
    }
    &--close {
        position: absolute;
        top: 20px;
        right: 25px;
        border-radius: 50%;
    }
    &.controls {
        border-radius: 50%;
    }
}

.back,
#settings {
    align-self: center;
    cursor: pointer;
    height: 100%;
}

.back.fa {
    font-weight: 500;
    font-size: 1.75em;
}

.center {
    display: flex;
    text-align: center;
}

#projects-slider {
    background: $bg;
    display: block;
    margin-bottom: 10px;
}

#data {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 90px;
    padding: 10px;
}

#scroll_container {
    overflow: hidden;
}

.loading {
    display: none;
}

// LOADER 
.demo {
    width: 50px;
    height: 50px;
    float: right
}

#loader {
    position: absolute;
    right: 0;
}

.loader {
    position: absolute;
    opacity: 0.7;
    width: 50px;
    height: 50px;
}