#calendar {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 420px;
    max-height: 90%;
    transition: height .5s ease-out;
}

.controls {
    position: fixed;
    left: 10px;
}

#zoom-in {
    top: 90px;
}

#zoom-out {
    top: 140px;
}

#expand {
    top: 190px
}

@media #{$sm_screen} {
#calendar {
    height: 540px;
}
}