#slide-up {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 50px;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 2px 2px 0 0;
}

@media screen and (min-width: 769px) {
    .menu-wrap {
        display: flex;
        justify-content: space-between;
        height: 60px;
    }
    #menu {
        clear: both;
        display: flex;
        justify-content: space-between;
        background-color: #454545;
        color: #f2f2f2;
        text-transform: uppercase;
        overflow: hidden;
        height: 60px;
        line-height: 60px;
        display: block;
        & .burger {
            display: none;
        }
        & li {
            display: block;
        }
        & a,
        .back {
            position: relative;
            display: block;
            color: inherit;
            line-height: 60px;
            padding: 0 20px;
            &::after {
                content: '';
                display: block;
                position: absolute;
                background-color: #fff;
                bottom: 0;
                left: 50%;
                z-index: 1;
                transform: translateX(-50%);
                width: 18px;
                height: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                transition: .25s;
            }
            &:hover {
                color: #fff;
                &::after {
                    height: 4px;
                    width: 30px;
                }
            }
        }
    }
    #settings .fa {
        font-size: 1.5em;
        font-weight: 100;
        margin-right: 8px;
    }
}

@media screen and (max-width: 768px) {
    #settings {
        text-align: center;
        & .text {
            font-size: 0
        }
    }
    #menu {
        height: auto;
        min-height: 60px;
        display: block;
        position: relative;
        background: $bg_dark;
        padding: 20px;
        box-sizing: border-box;
        & a {
            display: block;
            padding: 8px;
            color: $textColor_light;
        }
        & .back {
            display: none;
        }
        & .menu-wrap {
            display: none;
            & .center,
            #settings {
                float: none;
                display: block;
            }
            & li {
                display: block;
            }
        }
        & .burger {
            & .menu-icon__line {
                transition: .35s;
                &-right {
                    margin-bottom: 0;
                }
            }
            &.is-open {
                & .menu-icon {
                    height: 23px;
                }
                & .menu-icon__line {
                    margin-bottom: 0;
                    transform: rotate3d(0, 0, 1, -45deg) translate3d(-5px, 5px, 0);
                }
                & .menu-icon__line-left {
                    transform: rotate3d(0, 0, 1, 45deg) translate3d(7px, 6px, 0);
                }
                & .menu-icon__line-right {
                    width: 0;
                }
                &+.menu-wrap {
                    display: block;
                }
            }
        }
    }
}

//default state
.menu-icon {
    $size: 30px;
    height: auto;
    width: $size;
    z-index: 2;
    cursor: pointer;
    &__line {
        background: $textColor_light;
        height: 3px;
        width: $size;
        display: block;
        margin-bottom: 6px;
        transition: transform .2s ease, background-color .5s ease;
    }
}