.modal-container {
	& input {
		margin: 0 10px;
	}
}

.modal-mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9998;
	background-color: rgba(0, 0, 0, .5); // display: table;
	transition: opacity .3s ease-out;
}

@media #{$sm_screen} {
	.modal-mask {
		position: absolute;
		top: 0;
		bottom: auto;
		left: 0;
		right: 0;
		height: 100vh;
	}
}

.modal-wrapper {
	// display: table-cell;
	vertical-align: middle;
	width: 100vw;
	height: 100vh;
}

.modal-container {
	width: 640px;
	max-width: 90%;
	max-height: 70%;
	margin: 0px auto;
	padding: 20px 25px;
	background-color: #fff;
	position: absolute;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	.btn {
		margin-top: 0;
	}
	h4 {
		margin-top: 10px;
		margin-bottom: 30px;
		padding: 0 30px 4px 0;
		font-size: 1.6rem;
		border-left: 4px solid #d03030;
		padding-left: 10px;
		strong {
			letter-spacing: 0;
			display: inline-block;
			transform: skewX(-5deg)
		}
	}
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

@media #{$md_screen} {
	.modal-container {
		max-height: 90%;
	}
}