.resource {
    cursor: pointer;
}

.skill {
    padding: 6px 0;
    & .text {
        min-width: 100px;
        float: left;
        line-height: 40px;
    }
    & .value {
        line-height: 40px;
        float: right;
    }
    & svg {
        max-width: 100%;
        margin: 15px 0;
    }
    & .bar {
        transform: translate3D(0, 0, 0);
        transition: .6s;
    }
}